footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
}

body{
    margin-bottom: 100px;
}

#chat-messages {
    height: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}

.chat-input {
    margin-top: 10px;
}